@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br />
    <div class="navbar-nav flex-grow-1">
        <p>
            <a class="text-dark" asp-area="" asp-controller="ProductNames" asp-action="Index" asp-route-producttypeid="1">sprzęt medyczny</a> | 
            <a class="text-dark" asp-area="" asp-controller="ProductNames" asp-action="Index" asp-route-producttypeid="2">kosmetyki</a> | 
            <a class="text-dark" asp-area="" asp-controller="ProductNames" asp-action="Index" asp-route-producttypeid="3">suplementy</a> | 
            <a class="text-dark" asp-area="" asp-controller="ProductNames" asp-action="Index" asp-route-producttypeid="4">przeciwbólowe</a> | 
            <a class="text-dark" asp-area="" asp-controller="ProductNames" asp-action="Index" asp-route-producttypeid="5">antybiotyki</a> | 
            <a class="text-dark" asp-area="" asp-controller="ProductNames" asp-action="Index" asp-route-producttypeid="6">przeziębienie</a> | 
            <a class="text-dark" asp-area="" asp-controller="ProductNames" asp-action="Index" asp-route-producttypeid="7">dziecko</a> | 
            <a class="text-dark" asp-area="" asp-controller="ProductNames" asp-action="Index" asp-route-producttypeid="8">leki</a> | 
            <a class="text-dark" asp-area="" asp-controller="ProductNames" asp-action="Index" asp-route-producttypeid="9">inne</a>
        </p>
        <img src="~/image/ad.png" />
    </div>
</div>
